body {
	font-family:'Conv_HWYGOTH',Sans-Serif;
	background-color: #333;
	color: #FFF;
	zoom: 200%;
}

canvas {
	background-color: #222;
}

canvas.active, canvas.rotating {
	background-color: #186d8b;
}

canvas.done {
	background-color: #51aa24;
}

#container {
	margin: 100px auto;
	width: 220px;
}

#container .reels {
	display: block;
	position: relative;
	height: 200px;
	overflow: hidden;
	border: 10px solid;
	border-color: #777 #999 #666 #999;
	border-radius: 3px;
	-moz-box-shadow: #fff 0px 1px 0px;
	margin-bottom: 20px;
}

#container .reels:last-child {
	marign-bottom: 0;
}

#fortune {
	font-size: 4em;
	text-align: center;
	top: 50%;
	position: absolute;
	width: 100%;
}
